<div class="root">
  <div class="header-bg">
    <h1>ChessINATOR 3000</h1>
    <div class="horizontal-line"></div>
  </div>

  <div class="container-fluid">
    <div class="row h-100">
      <div class="col h-100">
        <div class="card h-100">
          <div class="card-body">
            <app-chess-image></app-chess-image>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <app-chess-move></app-chess-move>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>